.big-content
	.header-faq.left=t'cc.contact'
	.clearboth
	.content
		%br
		.h2
			.tit
				= t 'cc.director' #Ban Giám đốc
			.cont
				Nguyễn Thị Hồng Hường
				%a.right(href="mailto:nthhuong@hcmut.edu.vn") nthhuong@hcmut.edu.vn
			.cont
				Ngô Thị Thanh Hương
				%a.right(href="mailto:thanhhuong@hcmut.edu.vn") thanhhuong@hcmut.edu.vn
			%br
			.tit
				= t 'cc.info' #Xử lý thông tin
			.cont
				Nguyễn Thị Diệu Trinh
				%a.right(href="mailto:ntdtrinh@hcmut.edu.vn") ntdtrinh@hcmut.edu.vn
			.cont
				Lê Thị Tuyền
				%a.right(href="mailto:lttuyen@hcmut.edu.vn") lttuyen@hcmut.edu.vn
			%br
			.tit
				= t 'cc.it' #Nhóm CNTT
			.cont
				Đặng Thành Lâm
				%a.right(href="mailto:dtlam@hcmut.edu.vn") dtlam@hcmut.edu.vn
			.cont
				Đỗ Thị Thêm
				%a.right(href="mailto:dtthem@hcmut.edu.vn") dtthem@hcmut.edu.vn
			%br
			.tit
				= t 'cc.reader' #Phục vụ bạn đọc
			.cont
				Nguyễn Thị Như Quỳnh
				%a.right(href="mailto:ntnquynh@hcmut.edu.vn") ntnquynh@hcmut.edu.vn
			.cont
				Thái Thị Ánh Tuyết
				%a.right(href="mailto:ttatuyet@hcmut.edu.vn") ttatuyet@hcmut.edu.vn
			.cont
				Trần Thị Bích Thuận
				%a.right(href="mailto:ttbthuan@hcmut.edu.vn") ttbthuan@hcmut.edu.vn
			%br
			.tit
				= t 'cc.ref' #Dịch vụ tham khảo
			.cont
				Đỗ Thị Thêm
				%a.right(href="mailto:dtthem@hcmut.edu.vn") dtthem@hcmut.edu.vn
			.cont
				Phạm Thụy Vi
				%a.right(href="mailto:ptvi@hcmut.edu.vn") ptvi@hcmut.edu.vn
