<div class="big-content">
	<div class="title">Resend confirmation instructions</div>
	<div class="devise-content" style="width:300px">
		<table width="300px">
			<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
			  <div class="errors"><%= devise_error_messages! %></div>

			  <tr>
			  	<td class="left"><%= f.label :email, :class => "left email-label" %></td>
			  	<td class="right"><%= f.email_field :email, :class => "left email-field" %></td>
			  </tr>

			  <div class="clearboth"></div>

			  <tr><td><%= f.submit "Resend confirmation instructions", :class => "right submit", :style => "width: 210px" %></td></tr>

				  <tr>
				  	<td>
						  
						  <div class="links-block">
				  			<span class="left"><%= link_to "Sign in", new_session_path(resource_name), :class => "right"%></span>
				  			<span class="left">|</span>
				  			<span class="left"><%= link_to "Sign up", new_registration_path(resource_name), :class => "right" %></span>
						  </div>
						</td>
					</tr>
				  
		  	  <div class="clearboth"></div>
			<% end %>
		</table>
	</div>
</div>
