.big-content	
	.header-link.left.active= link_to "EDIT", "/notices/edit/#{@notice.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "NOTICES", "/notices/index/1"
	.clearboth
	.form-content
		.h1= "EDIT #{@notice.title.upcase}"
		.form
			= form_for :notice, :url => "/notices/update/#{@notice.id}" do |f|
				= f.label "Title"
				= f.text_field :title, :id => "title", :placeholder => "Input notice title", :autocomplete => "off"
				.clearboth
				= f.label "Content"
				= f.text_area :content, :id => "content", :placeholder => "Input notice content", :autocomplete => "off"
				.clearboth
				= f.submit "Update", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error
		-if @notice.errors.any?
			#error_explanation
				%h2.errors= pluralize(@notice.errors.count, "error") + " prohibited this notice from being updated:"
				%ul.errors
					-@notice.errors.full_messages.each do |msg|
						%li.errors= msg