.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.create'}", "/notices/new"
	.divider.left= "|"
	.header-link.left.active= link_to "#{t 'welcome.admin.header_link.notices'}", "/notices/index/1"
	.clearboth
	- i = 0
	- @notices.each do |notice|
		- i = i + 1
		.small-content.left
			.text-content.left
				.h1.link= link_to "#{notice.title.truncate(20).upcase}", "/notices/show/#{notice.id}"
				.h2= notice.short_content
		- if(i%3 == 0)
			.clearboth
	.paginate.right= will_paginate @noticess