.big-content	
	.header-link.left.active= link_to "#{t 'welcome.admin.header_link.create'}", "/notices/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.notices'}", "/notices/index/1"
	.clearboth
	.form-content
		.h1= "#{t 'welcome.notice.form.header'}"
		.form
			= form_for :notice, :url => "/notices/create" do |f|
				= f.label t 'welcome.notice.form.title'
				= f.text_field :title, :id => "title", :placeholder => "Input notice title", :autocomplete => "off"
				.clearboth
				= f.label t 'welcome.notice.form.content'
				= f.text_area :content, :id => "content", :placeholder => "Input notice content", :autocomplete => "off"
				.clearboth
				= f.submit (t 'welcome.admin.book_form.create_button'), :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error
		-if @notice.errors.any?
			#error_explanation
				%h2.errors= pluralize(@notice.errors.count, "error") + " prohibited this notice from being saved:"
				%ul.errors
					-@notice.errors.full_messages.each do |msg|
						%li.errors= msg