.big-content
	.header-link.left.active= link_to "NOTICES", "/notices/index/1"
	.divider.left= "|"
	.header-link.left.active= link_to @notice.title.upcase, "/notices/show/#{@notice.id}"
	.clearboth
	.content
		.h1= @notice.title
		.h2= @notice.content