.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.create'}", "/notices/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.notices'}", "/notices/index/1"
	.clearboth
	.content
		.h1= @notice.title
	.content
		%p
			- @notice.content.split("\n").each do |str|
				= str
				%br
		.h2.link= link_to "#{t 'welcome.admin.link.edit'}", "/notices/edit/#{@notice.id}"
		%br
		.h2.link= link_to "#{t 'welcome.admin.link.delete'}", "/notices/delete/#{@notice.id}", :method => "post", :data => {:confirm => "Are you sure?"}