.big-content
	- if current_user.admin? || current_user.librarian?
		.header-link.left.inactive= link_to "BOOKS", "/books/index/1"
		.divider.left= "|"
		.header-link.left.active= link_to "PHOTO REGISTRATIONS", "/photo_registrations/index/1?book_id=#{@photo_registrations.first.book.id}"
	- else
		.header-link.left.inactive= link_to "BOOKS", "/photo_registrations/home/1"
		.divider.left= "|"
		.header-link.left.active= link_to "PHOTO REGISTRATIONS", "/photo_registrations/index/1"
	.clearboth
	- i = 0
	- @photo_registrations.each do |photo_registration|
		- i = i + 1
		- book = photo_registration.book
		.small-content.left
			.img.left= image_tag book.image_url, :size => "60x60"
			.text-content.left
				.h1= link_to "#{book.title}", "/photo_registrations/show/#{photo_registration.id}"
				.h2= book.book_code
				.h2= book.description
				.h2= book.author
				.h2= photo_registration.finish_date.to_s
				.h2.link= link_to "Delete it", "/photo_registrations/delete/#{photo_registration.id}", :method => "post", :data => {:confirm => "Are you sure?"}
		- if(i % 3 == 0)
			.clearboth
	.paginate.right= will_paginate @photo_registrations