.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.books'}", "/photo_registrations/home/1"
	.divider.left= "|"
	- if current_user.user?
		.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.photo_regis'}", "/photo_registrations/index/1"
	- else
		.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.photo_regis'}", "/photo_registrations/index/1?book_id=#{@book.id}"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@book.title.truncate(20).upcase}", "/photo_registrations/show/#{@photo_registration.id}"
	.clearboth
	.content
		.h1= @book.title
		.h2= @book.book_code
		.h2= @book.description
		.h2= @book.author
		.h2= @photo_registration.finish_date.to_s
		.delete= link_to "#{t 'welcome.user.link.delete_photo'}", "/photo_registrations/delete/#{@photo_registration.id}", :method => "post", :data => {:confirm => "Are you sure?"}