.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.books'}", "/photo_registrations/home/1"
	.divider.left= "|"
	- if current_user.user?
		.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.photo_regis'}", "/photo_registrations/index/1"
	- else
		.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.photo_regis'}", "/photo_registrations/index/1?book_id=#{@book.id}"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@book.title.truncate(20).upcase}", "/photo_registrations/show/#{@photo_registration.id}"
	.clearboth
	.content
		.img.left= image_tag @book.image_url, :size => "200x200"
		.text-content.left
			.h1= @book.title.upcase
			.h3= @book.author
			.h2
				%b= t 'welcome.user.photo_registration.code'
				= @book.book_code
			.h2
				%b= t 'welcome.user.photo_registration.rating'
				= @book.rating
			.h2 
				%b= t 'welcome.user.photo_registration.owner'
				= @photo_registration.user.username.to_s
			.h2 
				%b= t 'welcome.user.photo_registration.finish'
				= @photo_registration.finish_date.to_s
			.h2
				%b= t 'welcome.user.photo_registration.description'
				= @book.description
			.h2.link= link_to "#{t 'welcome.user.link.delete_photo'}", "/photo_registrations/delete/#{@photo_registration.id}", :method => "post", :data => {:confirm => "Are you sure?"}
		.clearboth