#link= link_to "Back to Photo Registration index", "/photo_registrations/index/1"
.content
	.h1= @book.title
	.h2= @book.book_code
	.h2= @book.description
	.h2= @book.author
	.h2= @photo_registration.finish_date.to_s
	.delete= link_to "Delete it", "/photo_registrations/delete/#{@photo_registration.id}", :method => "post"