.content
	.h1= @sbook.title
	.h2= @sbook.book_code
	.h2= @sbook.description
	.h2= @sbook.author
	<br/>
	.h2.link= link_to "Edit", "/book_managements/edit/#{@sbook.id}", :method => "post"
	.h2.link= link_to "Delete", "/book_managements/delete/#{@sbook.id}", :method => "post"
	.h2.link= link_to "Reservation", ""
	.h2.link= link_to "Photo Registration", ""