.big-content	
	.header-link.left.active= link_to "#{t 'welcome.admin.header_link.edit'}", "/users/edit/#{@user.id}"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.user'}", "/users/index/1"
	.clearboth
	.form-content
		.h1= "#{t'welcome.admin.user_form.edit_header'}"
		.form
			= form_for :user, :url => "/users/update/#{@user.id}" do |f|
				= f.label "#{t'welcome.admin.user_form.username'}"
				= f.text_field :username, :id => "username", :placeholder => "Input username", :autocomplete => "off"
				.clearboth

				= f.label "#{t'welcome.admin.user_form.email'}"
				= f.text_field :email, :id => "email", :placeholder => "Input email"
				.clearboth

				= f.label "#{t'welcome.admin.user_form.role'}"
				= f.select :role, [['User','user'],['Librarian','librarian'],['Admin','admin']], :id => "role"
				.clearboth

				= f.submit "#{t'welcome.admin.user_form.edit_button'}", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error
		-if @user.errors.any?
			#error_explanation
				%h2.errors= pluralize(@user.errors.count, "error") + " prohibited this user from being updated:"
				%ul.errors
					-@user.errors.full_messages.each do |msg|
						%li.errors= msg