.big-content
	.header-link.left.inactive= link_to "#{t'welcome.admin.header_link.create'}", "/users/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t'welcome.admin.header_link.users'}", "/users/index/1"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@user.username.truncate(20).upcase}", "/users/show/#{@user.id}"
	.clearboth
	.content
		.h1= @user.username
		.h2
			%b ID:
			= @user.id
		.h2
			%b= "#{t'welcome.admin.user_form.username'}:"
			= @user.username
		.h2
			%b= "#{t'welcome.admin.user_form.email'}:"
			= @user.email
		.h2
			%b= "#{t'welcome.admin.user_form.role'}:" 
			= @user.role.capitalize
		
		.h2
			%b= "#{t'welcome.admin.user_form.createdat'}:"
			= @user.created_at
		.h2
			%b= "#{t'welcome.admin.user_form.updatedat'}:"
			= @user.updated_at

		.h2.link= link_to "#{t'welcome.admin.link.edit'}", "/users/edit/#{@user.id}"
		%br
		.h2.link= link_to "#{t'welcome.admin.link.delete'}", "/users/delete/#{@user.id}", :method => "post", :data => {:confirm => "Are you sure?"}