<div class="big-content">
	<div class="title">Forgot your password?</div>
	<div class="devise-content" style="width:300px">
		<table width="300px">
			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
				<%= devise_error_messages! %>

			  <tr>
			  	<td class="left"><%= f.label :email, :class => "left email-label" %></td>
			  	<td class="right"><%= f.email_field :email, :class => "left email-field" %></td>
			  </tr>

			  <div class="clearboth"></div>

			  <tr><td><%= f.submit "Send me reset password instructions", :class => "right submit", :style => "width: 230px;" %></td></tr>

				  <tr>
				  	<td>
						  
						  <div class="links-block">
				  			<span class="left"><%= link_to "Sign in", new_session_path(resource_name), :class => "right"%></span>
				  			<span class="left">|</span>
				  			<span class="left"><%= link_to "Sign up", new_registration_path(resource_name), :class => "right" %></span>
				  			<span class="left">|</span>
				  			<span class="left"><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), :class => "right" %></span>
						  </div>
						</td>
					</tr>
				  
		  	  <div class="clearboth"></div>
			<% end %>
		</table>
	</div>
</div>
