<div class="big-content">
	<div class="title">FORGOT YOUR PASSWORD?</div>
	<div class="devise-content">
		<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
		<div class="error">
			<%= devise_error_messages! %>
		</div>
		<div class="left">
		  	<%= f.label :email, :class => "left email-label" %>
		  	<%= f.email_field :email, :class => "left email-field" %>
		</div>
		  
		<div class="clearboth"></div>

		<div><%= f.submit "Send me reset password instructions", :class => "right submit2" %></div>
		<div class="clearboth"></div>
		<% end %>
		<div class="links-block">
			<span><%= render "devise/shared/links" %></span>
		</div>
	</div>
</div>


