.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.librarian.header_link.create'}", "/books/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.librarian.header_link.books'}", "/books/index/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{@book.title.truncate(20).upcase}", "/books/show/#{@book.id}"
	.divider.left= "|"
	.header-link.left.active= link_to "#{t 'welcome.librarian.header_link.instances'}", "/book_instances/index/#{@book.id}/1"
	.clearboth
	- i = 0
	- @book_instances.each do |book_instance|
		- i = i + 1
		.small-content.left
			.img.left= image_tag @book.image_url, :size => "60x60"
			.text-content.left
				.h1.link= link_to "#{@book.title.truncate(25).upcase}", "/books/show/#{@book.id}"
				.h3= @book.author
				.h2= "Code: #{book_instance.book_instance_code}"
				.h2= link_to "#{t 'welcome.librarian.link.edit'}", "/book_instances/edit/#{book_instance.id}"
				.h2= link_to "#{t 'welcome.librarian.link.delete'}", "/book_instances/delete/#{book_instance.id}", :method => "post"
		- if(i % 3 == 0)
			.clearboth
	.clearboth
	.paginate.right= will_paginate @book_instances
