.big-content	
	.header-link.left.inactive= link_to "#{t 'welcome.librarian.header_link.create'}", "/books/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.librarian.header_link.books'}", "/books/index/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{@book.title.truncate(20).upcase}", "/books/show/#{@book.id}"
	.divider.left= "|"
	.header-link.left.active= link_to "#{t 'welcome.librarian.header_link.new_instance'}", "/book_instances/new/#{@book.id}"
	.clearboth
	.form-content
		.h1= "#{t 'welcome.librarian.book_form.instance_create_header'}"
		.form
			= form_for :book_instance, :url => "/book_instances/create/#{@book.id}" do |f|
				= f.label "#{t 'welcome.librarian.book_form.code'}"
				= f.text_field :book_instance_code, :id => "book_instance_code", :placeholder => "Input book instance code"
				.clearboth
				= f.submit "#{t 'welcome.librarian.book_form.create_button'}", :id => "submit_btn", :class => "submit_btn"
				.clearboth
				.right.error