.header-link= link_to "Reservation Index", "/book_reservations/index"
- @books.each do |book|
	.big-content
		.h1= book.title
		.h2= book.book_code
		.h2= book.description
		.h2= book.author
		.h2= book.image_url
		.h2= book.release_date
		.h2= book.rating
		.h2.link= link_to "Reserve it", "/book_reservations/new/#{book.id}", :method => "post"