.big-content
	.header-link.left.inactive= link_to "CREATE", "/books/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "BOOKS", "/books/index/1"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@book.title.truncate(20).upcase}", "/books/show/#{@book.id}"
	.clearboth
	.content
		.h1= @book.title
		.h2= @book.book_code
		.h2= @book.description
		.h2= @book.author
		.h2.link= link_to "List all instances of this boook", "/book_instances/index/#{@book.id}/1"
		.h2.link= link_to "Add an instances to this boook", "/book_instances/new/#{@book.id}"
		.h2.link= link_to "Edit", "/books/edit/#{@book.id}"
		.h2.link= link_to "Delete", "/books/delete/#{@book.id}", :method => "post", :data => {:confirm => "Are you sure?"}
		.h2.link= link_to "Reservations", ""
		.h2.link= link_to "Photo Registrations", ""