.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.librarian.header_link.create'}", "/books/new"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.librarian.header_link.books'}", "/books/index/1"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@book.title.truncate(20).upcase}", "/books/show/#{@book.id}"
	.clearboth
	.content
		.h1= @book.title.upcase
		.h3= @book.author
		.h2= "Code: #{@book.book_code}"
		.h2= "Rating: #{@book.rating}"
		.h2= "Description: #{@book.description}"
				
		.h2.link= link_to "#{t 'welcome.librarian.link.list_instances'}", "/book_instances/index/#{@book.id}/1"
		%br
		.h2.link= link_to "#{t 'welcome.librarian.link.add_instance'}", "/book_instances/new/#{@book.id}"
		%br
		.h2.link= link_to "#{t 'welcome.librarian.link.edit'}", "/books/edit/#{@book.id}"
		%br
		.h2.link= link_to "#{t 'welcome.librarian.link.delete'}", "/books/delete/#{@book.id}", :method => "post", :data => {:confirm => "Are you sure?"}
		