.big-content
	.header-link= link_to "Reservation Index", "/book_reservations/index/1"
	- i = 0
	- @books.each do |book|
		- i = i + 1
		.small-content.left
			.img.left= image_tag("no_photo.png")
			.text-content.left
				.h1= book.title.upcase
				.h2= book.book_code
				.h2= book.description
				.h2= book.author
				.h2= book.release_date
				.h2= book.rating
				.h2.link= link_to "Reserve it", "/book_reservations/new/#{book.id}", :method => "post"
		- if(i % 3 == 0)
			.clearboth
	.clearboth
	.paginate.right= will_paginate @books