.big-content
	.header-link.left.active= link_to "#{t 'welcome.user.header_link.books'}", "/book_reservations/home/1"
	.divider.left= "|"
	.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.reservations'}", "/book_reservations/index/1"
	.clearboth
	- i = 0
	- @books.each do |book|
		- i = i + 1
		.small-content.left
			.img.left= image_tag book.image_url, :size => "60x60"
			.text-content.left
				.h1= book.title.upcase
				.h2= book.book_code
				.h2= book.description
				.h2= book.author
				.h2= book.release_date
				.h2= book.rating
				.h2.link= link_to "#{t 'welcome.user.link.reserve'}", "/book_reservations/new/#{book.id}", :method => "post"
		- if(i % 3 == 0)
			.clearboth
	.clearboth
	.paginate.right= will_paginate @books