#reservation_index= link_to "Reservation Index", "/book_reservations/index"
.big-content
	- @books.each do |book|
		.small-content
			.title= book.title
			.book_code= book.book_code
			.description= book.description
			.author= book.author
			.image_url= book.image_url
			.release_date= book.release_date
			.rating= book.rating
			.create_new_reservation= link_to "Reserve it", "/book_reservations/new/#{book.id}", :method => "post"
.paginate= will_paginate @books