.big-content
	- if current_user.admin? || current_user.librarian?
		.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.books'}", "/books/index/1"
		.divider.left= "|"
		.header-link.left.active= link_to "#{t 'welcome.admin.header_link.reservations'}", "/book_reservations/index/1?book_id=#{@book_reservations.first.book.id}"
	- else
		.header-link.left.inactive= link_to "#{t 'welcome.admin.header_link.books'}", "/book_reservations/home/1"
		.divider.left= "|"
		.header-link.left.active= link_to "#{t 'welcome.admin.header_link.reservations'}", "/book_reservations/index/1"
	.clearboth
	- i = 0
	- debugger
	- @book_reservations.each do |book_reservation|
		- i = i + 1
		- book = book_reservation.book_instance.book
		.small-content.left
			.img.left= image_tag book.image_url, :size => "60x60"
			.text-content.left
				.h1.title-link= link_to "#{book.title.truncate(15).upcase}", "/book_reservations/show/#{book_reservation.id}"
				.h3= book.author.truncate(25) unless book.author.nil?        
				.h2 
					%b= t 'welcome.user.book_reservation.borrower'
					= book_reservation.user.username.to_s
				.h2 
					%b= t 'welcome.user.book_reservation.start'
					= book_reservation.start_date.to_s
				.h2 
					%b= t 'welcome.user.book_reservation.due'
					= book_reservation.due_date.to_s
				.h2.link= link_to "#{t 'welcome.user.link.delete'}", "/book_reservations/delete/#{book_reservation.id}", :method => "post", :data => {:confirm => "Are you sure?"}
		- if(i % 3 == 0)
			.clearboth
	.clearboth
	.paginate.right= will_paginate @book_reservations
