.big-content
	.header-link= link_to "Continue Reserve books", "/book_reservations/home/1"
	- i = 0
	- @book_reservations.each do |book_reservation|
		- i = i + 1
		- book = book_reservation.book_instance.book
		.small-content.left
			.img.left= image_tag("no_photo.png")
			.text-content.left
				.h1.link= link_to "#{book.title}", "/book_reservations/show/#{book_reservation.id}"
				.h2= book.book_code
				.h2= book.description
				.h2= book.author
				.h2= book_reservation.start_date.to_s
				.h2= book_reservation.due_date.to_s
				.h2= link_to "Delete it", "/book_reservations/delete/#{book_reservation.id}", :method => "post"
		- if(i % 3 == 0)
			.clearboth
	.clearboth
	.paginate.right= will_paginate @book_reservations
