.big-content
	.header-link.left.inactive= link_to "BOOKS", "/book_reservations/home/1", :class => "inactive"
	.divider.left= "|"
	.header-link.left.inactive= link_to "RESERVATIONS", "/book_reservations/index/1", :class => "inactive"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@book.title.truncate(20).upcase}", "/book_reservations/show/#{@book_reservation.id}"
	.clearboth
	.content
		.h1= @book.title
		.h2= @book.book_code
		.h2= @book.description
		.h2= @book.author
		.h2= @book_reservation.start_date.to_s
		.h2= @book_reservation.due_date.to_s
		.h2.link= link_to "Delete it", "/book_reservations/delete/#{@book_reservation.id}", :method => "post"