.big-content
	.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.books'}", "/book_reservations/home/1"
	.divider.left= "|"
	- if current_user.user?
		.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.reservations'}", "/book_reservations/index/1"
	- else
		.header-link.left.inactive= link_to "#{t 'welcome.user.header_link.reservations'}", "/book_reservations/index/1?book_id=#{@book.id}"
	.divider.left= "|"
	.header-link.left.active= link_to "#{@book.title.truncate(20).upcase}", "/book_reservations/show/#{@book_reservation.id}"
	.clearboth
	.content
		.h1= @book.title
		.h2= @book.book_code
		.h2= @book.description
		.h2= @book.author
		.h2= @book_reservation.start_date.to_s
		.h2= @book_reservation.due_date.to_s
		.h2.link= link_to "#{t 'welcome.user.link.delete'}", "/book_reservations/delete/#{@book_reservation.id}", :method => "post", :data => {:confirm => "Are you sure?"}