.big-content
  .search-title.left.active= "BOOKS SEARCH RESULTS"
  .right
    = render "shared/search_form_book"
  .clearboth
  - @books.each do |book|
    .small-content.left
      .img.left= image_tag book.image_url, :size => "60x60"
      .text-content.left
        .h1.link= link_to "#{book.title.upcase}", "/books/show/#{book.id}"
        .h2= book.book_code
        .h2= book.description
        .h2= book.author
        .h2= book.release_date
        .h2= book.rating
        .h2.link= link_to "Reservations", "/book_reservations/index/1?book_id=#{book.id}"
        .h2.link= link_to "Photo Registrations", "/photo_registrations/index/1?book_id=#{book.id}"
  .clearboth
  .paginate.right= will_paginate @books