.big-content
	.search-title.left.active= "BOOKS SEARCH RESULTS"
	.right
		= render "shared/search_form_registration"
	.clearboth
	- i = 0
	- @books.each do |book|
		- i = i + 1
		.small-content.left
			.img.left= image_tag book.image_url, :size => "60x60"
			.text-content.left
				.h1= book.title.upcase
				.h2= book.book_code
				.h2= book.description
				.h2= book.author
				.h2= book.release_date
				.h2= book.rating
				.h2.link= link_to "Regist it", "/photo_registrations/new/#{book.id}", :method => "post"
		- if(i % 3 == 0)
			.clearboth
	.clearboth
	.paginate.right= will_paginate @books