.big-content
  .search-title.left.active= "USERS SEARCH RESULTS"
  .right 
    = render "shared/search_form_user"
  .clearboth
  - @users.each do |user|
    .small-content.left
      .text-content.left
        .h1.link= link_to "#{user.username.upcase}", "/users/show/#{user.id}"
        .h2= user.email
        .h2= user.role.capitalize
  .clearboth
  .paginate.right= will_paginate @users