!!!
%html
	%head
		%title Buffalo-Kids
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.body-container
			#header
				#header-container
					#header-theme
						#login-info.right
							- if current_user
								= "Welcome #{current_user.username}"
								&nbsp | &nbsp
								= link_to "Signout", destroy_user_session_path, :method => :delete
							- else
								= link_to "Signin", new_user_session_path
						#hcmut-logo.left= image_tag("hcmut_logo.png", :size => "80x80")
						#hcmut-name.left= "HCMUT LIBRARY"
					.clearboth
					#menu-bar
						- if current_user
							- if current_user.user?	
								#menu-link.left= link_to "BOOKS", "/book_reservations/home/1"
								#menu-link.left= link_to "PHOTO", "/photo_registrations/home/1"
								#menu-link.left= link_to "NOTICES", "/notices/index/1"
							- if current_user.librarian?
								#menu-link.left= link_to "BOOKS", ""
								#menu-link.left= link_to "PHOTO", ""
								#menu-link.left= link_to "NOTICES", ""
							- if current_user.admin?
								#menu-link.left= link_to "USERS", ""
								#menu-link.left= link_to "BOOKS", ""
								#menu-link.left= link_to "PHOTO", ""	
								#menu-link.left= link_to "NOTICES", ""
						#menu-link.left= link_to "FAQ", ""
						#menu-link.left= link_to "CONTACT", ""
			#main{:class => controller_name}
				/ .interesting-stuff
				.container
					= yield
			#footer
				#footer-container