!!!
%html
	%head
		%title Buffalo-Kids
		= stylesheet_link_tag    "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
	%body
		.body-container
			#header
				#header-container
					#header-theme
						#login-info.right
							- if current_user
								= " #{t 'welcome.topleft_corner.welcome'} #{current_user.username}"
								&nbsp | &nbsp
								= link_to "#{t 'welcome.topleft_corner.signout'}", destroy_user_session_path, :method => :delete
							- else
								= link_to "#{t 'pre_welcome.button.signin'}", new_user_session_path
						#hcmut-logo.left= link_to image_tag("hcmut_logo.png", :size => "80x80"), "/"
						#hcmut-name.left= t 'big_header'

					.clearboth
					#menu-bar
						- if current_user
							- if current_user.user?	
								#menu-link.left= link_to "#{t 'welcome.Tab.b'}", "/book_reservations/home/1"
								#menu-link.left= link_to "#{t 'welcome.Tab.p'}", "/photo_registrations/home/1"
								#menu-link.left= link_to "#{t 'welcome.Tab.n'}", "/notices/index/1"
							- if current_user.librarian?
								#menu-link.left= link_to "#{t 'welcome.Tab.b'}", "/books/index/1"
								#menu-link.left= link_to "#{t 'welcome.Tab.n'}", "/notices/index/1"
							- if current_user.admin?
								#menu-link.left= link_to "#{t 'welcome.Tab.u'}", "/users/index/1"
								#menu-link.left= link_to "#{t 'welcome.Tab.b'}", "/books/index/1"
								#menu-link.left= link_to "#{t 'welcome.Tab.n'}", "/notices/index/1"
						- else
							#menu-link.left= link_to "#{t 'welcome.Tab.b'}", "/book_reservations/home/1"
							#menu-link.left= link_to "#{t 'welcome.Tab.p'}", "/photo_registrations/home/1"
						#menu-link.left= link_to "#{t 'welcome.Tab.f'}", "/faq"
						#menu-link.left= link_to "#{t 'welcome.Tab.c'}", "/contact"
			#main{:class => controller_name}
				/ .interesting-stuff
				.container
					= yield
			#footer
				#footer-container
					.right= link_to "Tiếng Việt", "/vi", :method => "post"
					.right.bar= "|"
					.right= link_to "English", "/en", :method => "post" 